@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>This application as Rest APi's secured with AD integration.</h2>
        <ul>
            <li>/api/resource/myroles</li>
            <span style="font-style:italic; color:red">This will return all AD roles you are part of.</span>
            <li>/api/resource/otherget</li>
            <span style="font-style:italic; color:red">This will only work if you are part of ALI\\ATIN-FC-Systems-Dev</span>
            <li>/api/resource/adminget</li>
            <span style="font-style:italic; color:red">This requires Administrator Role, if not found returns 403</span>
        </ul>
    </div>
</div>
