@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>This application as Rest APi's secured with AD integration.</h2>
        <ul>
            <li><a href="http://localhost:50030/api/resource/myroles" target="_blank">/api/resource/myroles</a></li>
            <span style="font-style:italic; color:red">This will return all AD roles you are part of.  </span>
            <li><a href="http://localhost:50030/api/resource/otherget" target="_blank">/api/resource/otherget</a></li>
            <span style="font-style:italic; color:red">This will only work if you are part of ALI\\ATIN-FC-Systems-Dev or Administrator policy(role)</span>
            <li><a href="http://localhost:50030/api/resource/adminget" target="_blank">/api/resource/adminget</a></li>
            <span style="font-style:italic; color:red">This requires Administrator policy(role), if not found returns 403</span>
        </ul>
    </div>
</div>
